{% extends 'star/layout.html' %}
{% load staticfiles %}

{% block content %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 m-b-40" style="margin-top: 80px">
                <center>
                <h1 style="font-size: 100px">Congratulations!</h1>
                <p class="m-t-30" style="font-size: 32px"><em>You have completed the first module in the How Internet Work series. Please check back later for the second module!</em>
                </p>
                <a href="/1"><button class="btn btn-success btn-rounded btn-lg m-t-40 ">Yay! Done.</button></a>
            </center>
            </div>
        </div>
{% endblock %}
