{% extends 'star/layout.html' %}
{% load staticfiles %}

{% block extra_css %}
<script type="text/javascript">
var d = document.getElementById("nav-read-2");
d.className += " active";
</script>

<style>
.tab-pane p {
    font-size: 16px;
}

.tab-pane img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
}
</style>
{% endblock %}

{% block content %}

<h1>Reading Materials 2 </h1>

<div class="row">
    <div class="col-lg-12">
        <div class="tabs-vertical-env">
            <ul class="nav tabs-vertical">
                <li class="active">
                <a href="#v-ipaddress" data-toggle="tab" aria-expanded="true">More IP Address</a>
                </li>
                <li class="">
                <a href="#v-router" data-toggle="tab" aria-expanded="false">Router</a>
                </li>
                <li class="">
                <a href="#v-ping" data-toggle="tab" aria-expanded="false">Ping Tool</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="v-ipaddress">
                    <h2>What is the difference between public and private IP address?</h2>
                    <br>
                    <p>A public <a href="/ip-address">IP address</a> is an IP address that can be accessed over the Internet. Like postal address used to deliver a postal mail to your home, a public IP address is the globally unique IP address assigned to a computing device. Your public IP address can be found at <a href="/find-ip-address">What is my IP Address</a> page. Private IP address on the other hand is used to assign computers within your private space without letting them directly expose to the Internet. For example, if you have multiple computers within your home you may want to use private IP addresses to address each computer within your home. In this scenario, your router get the public IP address, and each of the computers, tablets and smartphones connected to your router (via wired or wifi) get a private IP address from your router via <a href="/dhcp">DHCP</a> protocol.</p>
                    <br>
                    <img src="https://portforward.com/networking/router-ip-address-diagram.jpg">
                    <br>
                    <h2>What is public IP address?</h2>
                    <p>A public IP address is the address that is assigned to a computing device to allow direct access over the Internet. A web server, email server and any server device directly accessible from the Internet are candidate for a public IP address. A public IP address is globally unique, and can only be assigned to an unique device.</p>
                    <h2>What is private IP address?</h2>
                    <p>A private IP address is the address space allocated by InterNIC to allow organizations to create their own private network. There are three IP blocks (1 class A, 1 class B and 1 class C) reserved for a private use. The computers, tablets and smartphones sitting behind your home, and the personal computers within an organizations are usually assigned private IP addresses. A network printer residing in your home is assigned a private address so that only your family can print to your local printer.</p>
                </div>
                <div class="tab-pane" id="v-router">
                    <h2>The Function of Router</h2>
                    <br>
                    <p>All of these networks rely on NAPs, backbones and <b>routers</b> to talk to each other. What is incredible about this process is that a message can leave one computer and travel halfway across the world through several different networks and arrive at another computer in a fraction of a second!</p>
                    <img src="https://i.stack.imgur.com/1rFgn.gif">
                    <br>
                    <p>The routers determine where to send information from one computer to another. Routers are specialized computers that send your messages and those of every other Internet user speeding to their destinations along thousands of pathways. A router has two separate, but related, jobs:</p>

                        <ul style="font-size:16px"><li><span>It ensures that information doesn't go where it's not needed. This is crucial for keeping large volumes of data from clogging the connections of &quot;innocent bystanders.&quot;</span></li><li><span>It makes sure that information does make it to the intended destination.</span></li></ul>
                        <br>

                        <p>In performing these two jobs, a router is extremely useful in dealing with two separate computer networks. It joins the two networks, passing information from one to the other. It also protects the networks from one another, preventing the traffic on one from unnecessarily spilling over to the other. Regardless of how many networks are attached, the basic operation and function of the router remains the same. Since the Internet is one huge network made up of tens of thousands of smaller networks, its use of routers is an absolute necessity. </p>
                </div>
                <div class="tab-pane" id="v-ping">
                    <h2>Intro to Ping</h2>
                    <br>
                    <p>Ping is a basic Internet program that allows a user to verify that a particular IP address exists and can accept requests.</p>
                    <p>Ping is used diagnostically to ensure that a host computer the user is trying to reach is actually operating. Ping works by sending an Internet Control Message Protocol (ICMP) Echo Request to a specified interface on the network and waiting for a reply. Ping can be used for troubleshooting to test connectivity and determine response time.</p>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Cmd-ping.png">
                    <br>
                    <p>As a verb, ping means "to get the attention of" or "to check for the presence of" another party online. The computer acronym (for Packet Internet or Inter-Network Groper) was contrived to match the submariners' term for the sound of a returned sonar pulse.</p>
                    <p>Tip: To find out the dot address (such as 205.245.172.72) for a given domain name, Windows users can go to their command prompt screen (start/run/cmd) and enter ping xxxxx.yyy (where xxxxx is the second-level domain name like "whatis" and yyy is the top-level domain name like "com").</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row m-t-10 m-b-5">
    <ul class="pager">
        <li>
        <a href="/4"><i class="fa fa-long-arrow-left"></i> Video Lesson 2</a>
        </li>
        <li>
        <a href="/6">Start The Quiz <i class="fa fa-long-arrow-right"></i></a>
        </li>
    </ul>
</div>
{% endblock %}
